@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}

.kontak {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
}

.kontak img {
    height: 80px;
    width: 80px;
}

main {
    background: linear-gradient(to right bottom, #00ffea 10%, lime);
    position: relative;
}

main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent 10%, lime);
    top: 93%;
}
/* navbar */
nav {
    background-color: #4a664b;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    margin-left: 5rem;
    font-weight: 900;
    background: linear-gradient(to top right, #ACE1AF 40%, lime);
    background-clip: text;
    font-style: italic;
    -webkit-text-fill-color: transparent;
}

.logo:hover {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000;
    transition: all 0.4s;
}

.nav-a {
    margin-right: 6rem;
}

.nav-a a {
    font-size: 20px;
    margin: 0 20px;
    position: relative;
    transition: 0.45s ease;
}

.nav-a a::before {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #000;
    bottom: 0;
    transition: all 0.45s;
    left: 50%;
}

.nav-a a:hover {
    font-weight: bold;
    font-size: 22px;
    color: #000;
}

.nav-a a:hover::before {
    width: 100%;
    left: 0;
}

#menubar {
    display: none;
}

#menubar i:hover {
    color: #000;
}

/* hero */
#hero-cont {
    margin-top: 3.7rem;
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/t4.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

#hero-cont h1 {
    text-align: center;
    font-size: 5.5rem;
    text-shadow: 5px 5px black;
    font-family: 'Bad Script';
}

.pesan {
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50px;
    transition: .2s ease-in-out;
}

.pesan:hover {
    color: #000;
    background-color: #fff;
    width: 210px;
    height: 55px;
    margin-top: -5px;
}

.pesan::after,
.pesan::before {
    --angle: 0deg;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: conic-gradient(from var(--angle), transparent 60%, lime);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 6px;
    border-radius: 50px;
    animation: 1s spin linear infinite;
}

.pesan::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* about */
#about-cont {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-cont .about h2 {
    font-size: 2.5rem;
    border-bottom: 4px solid #000;
    height: 50px;
    margin-bottom: 10px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

#about-cont .about h3 {
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
}

.about-p p {
    width: 26rem;
    text-align: justify;
    font-weight: 500;
    color: #000;
}

#about-cont img {
    width: 340px;
    height: 300px;
    margin-left: 4rem;
    margin-top: 7rem;
    border-radius: 30px;
    border: 1px solid #000;
}

/* proses */
#proses-cont {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#proses-cont h2 {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    border-bottom: #000 solid 4px;
    height: 50px;
    width: 13rem;
    text-align: center;
    margin-bottom: 2rem;
}

.card-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #f8f8f8;
    width: 240px;
    height: 20rem;
    border-radius: 20px;
    text-align: center;
    border: 4px solid gray;
    box-shadow: #000 10px 5px 5px;
}

.card .p-judul {
    font-weight: bold;
    font-size: 18px;
}

.card span {
    display: none;
}

.card p {
    margin: 10px 15px 0;
    color: #000;
}

.p-pers {
    font-size: 15px;
}

#proses-cont img {
    width: 110px;
    height: 60px;
}

/* lokasi */
#lokasi-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(lime, #D1E9F6);
}

#lokasi-cont h2 {
    font-size: 2.5rem;
    border-bottom: 4px solid #000;
    height: 50px;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000;
    width: 28rem;
    text-align: center;
}

#lokasi-cont iframe {
    width: 600px;
    height: 400px;
    border: #000 solid 2px;
}

/* mitra */
.mitra-cont {
    width: 100%;
    height: 150vh;
    background-color: #D1E9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mitra-cont h2 {
    color: #000;
    font-size: 2.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000;
    border-bottom: #000 solid 4px;
    width: 12rem;
    text-align: center;
    height: 50px;
}

.mitra-cont p {
    width: 48rem;
    margin: 15px 0;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid div {
    margin: 0 20px;
    position: relative;
}

.grid div::before {
    content: '';
    width: 500px;
    height: 3px;
    position: absolute;
    background-color: #000;
    top: 100%;
}

.grid div p {
    width: max-content;
    font-size: 16px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #4a664b;
}

@media (min-width: 1550px) {
    #hero-cont h1 {
        font-size: 7.5rem;
    }

    #about-cont .about h2 {
        font-size: 3.8rem;
        border-bottom: 4px solid #000;
        height: 80px;
        margin-bottom: 10px;
    }

    #about-cont .about h3 {
        font-size: 22px;
    }

    .about-p p {
        width: 29rem;
        font-size: 18px;
    }

    #about-cont img {
        width: 500px;
        height: 400px;
    }

    .card-area {
        gap: 5px;
    }

    #proses-cont h2 {
        font-size: 3.8rem;
        height: 80px;
        width: 18rem;
    }

    .card {
        width: 280px;
        height: 24rem;
    }

    .card .p-judul {
        font-size: 20px;
    }

    .card p {
        font-size: 115%;
    }

    main::after {
        top: 94%;
    }

    #lokasi-cont h2 {
        font-size: 3.8rem;
        height: 80px;
        width: 35rem;
    }

    #lokasi-cont iframe {
        width: 700px;
        height: 600px;
    }

    .mitra-cont h2 {
        font-size: 3.8rem;
        width: 16rem;
        height: 80px;
    }

    .mitra-cont p {
        width: 52rem;
        font-size: 22px;
    }

    .grid div p {
        font-size: 20px;
    }

    .grid div::before {
        width: 630px;
    }
}

@media (max-width: 1280px) {
    .card-area {
        gap: 25px;
    }

    .card {
        width: 220px;
        height: 20rem;
    }

    #proses-cont img {
        display: none;
    }

    .card .p-judul {
        font-size: 20px;
    }

    .card-area span {
        display: inline;
        color: #000;
    }

    .grid div p {
        font-size: 14px;
    }

    .grid div::before {
        width: 450px;
    }
}

@media (max-width: 1024px) {
    .logo {
        font-size: 2.2rem;
    }

    .nav-a {
        margin-right: 2rem;
    }

    .nav-a a {
        font-size: 16px;
        margin: 0 10px;
    }

    .nav-a a:hover {
        font-size: 18px;
    }

    #hero-cont {
        margin-top: 3.3rem;
    }

    #about-cont {
        font-size: 85%;
    }

    #about-cont .about h2 {
        font-size: 2.3rem;
    }

    #about-cont img {
        width: 240px;
        height: 240px;
        margin-left: 2rem;
        margin-top: 5rem;
    }

    #proses-cont {
        height: max-content;
    }

    main::after {
        top: 95%;
    }

    .card-area {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 420px;
        height: 13rem;
        z-index: 2;
    }

    .mitra-cont p {
        width: 45rem;
        font-size: 17px;
    }

    .grid div p {
        font-size: 14px;
        width: 330px;
        text-align: left;
    }

    .grid div::before {
        width: 330px;
    }
}

@media (max-width: 768px) {
    .kontak img {
        height: 70px;
        width: 70px;
    }

    #menubar {
        display: inline-block;
        margin: 0 40px;
        font-size: 20px;
    }

    .nav-a {
        position: absolute;
        top: 100%;
        right: -100%;
        background: linear-gradient(to bottom right, #ACE1AF, #4a664b 85%);
        border-left: 2px solid black;
        margin: unset;
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100vh;
        transition: 0.3s ease;
    }

    .nav-a a {
        margin: 15px 3.5rem;
        width: max-content;
    }

    .pesan {
        width: 180px;
        height: 40px;
    }

    .pesan:hover {
        width: 190px;
        height: 45px;
    }

    .active {
        right: 0;
    }

    #about-cont {
        font-size: 80%;
    }

    #about-cont .about h2 {
        font-size: 2.2rem;
    }

    #about-cont .about h3 {
        -webkit-text-stroke: 0;
        color: #000;
        margin-bottom: 5px;
    }

    #about-cont img {
        width: 220px;
        height: 220px;
    }

    #proses-cont h2 {
        font-size: 2.2rem;
        width: 12rem;
    }

    .about-p p {
        width: 20rem;
    }

    #lokasi-cont h2 {
        font-size: 2.2rem;
        width: 22rem;
    }

    #lokasi-cont iframe {
        width: 500px;
        height: 300px;
    }

    .mitra-cont h2 {
        font-size: 2.2rem;
        width: 10rem;
    }

    .mitra-cont p {
        width: 39rem;
        font-size: 16px;
    }

    .grid div p {
        font-size: 14px;
        width: 270px;
        text-align: left;
    }

    .grid div::before {
        width: 270px;
    }

    .footer {
        height: 30px;
    }
}

@media (max-width: 640px) {
    #hero-cont h1 {
        font-size: 5rem;
    }

    .pesan {
        width: 160px;
        height: 40px;
        font-size: 15px;
    }

    .pesan:hover {
        width: 170px;
        height: 45px;
    }

    #about-cont {
        font-size: 90%;
        flex-direction: column;
        height: 140vh;
    }

    #about-cont .about h2 {
        font-size: 2rem;
    }

    #about-cont img {
        width: 250px;
        height: 240px;
        margin-top: 2rem;
        margin-left: 0;
    }

    .about-p p {
        width: 20rem;
    }

    #proses-cont h2 {
        font-size: 2rem;
        width: 10rem;
    }

    .card {
        width: 380px;
        height: 13rem;
    }

    .card .p-judul {
        font-size: 18px;
    }

    #lokasi-cont h2 {
        font-size: 2rem;
        width: 20rem;
    }

    #lokasi-cont iframe {
        width: 400px;
        height: 300px;
    }

    .mitra-cont {
        padding-bottom: 20px;
    }

    .mitra-cont h2 {
        font-size: 2rem;
        width: 9rem;
    }

    .mitra-cont p {
        font-size: 14px;
        width: 30rem;
    }

    .grid div p {
        font-size: 13px;
        width: 13rem;
    }

    .grid div::before {
        width: 13rem;
    }
}

@media (max-width: 475px) {
    .logo {
        font-size: 1.8rem;
        margin-left: 8%;
    }

    .nav-a a {
        margin: 15px 1.5rem;
        width: max-content;
    }

    #hero-cont {
        margin-top: 2.7rem;
    }

    #hero-cont h1 {
        font-size: 3.2rem;
    }

    #about-cont {
        font-size: 80%;
    }

    .card {
        width: 280px;
        height: 14rem;
    }

    .card .p-judul {
        font-size: 16px;
    }

    .card p {
        font-size: 90%;
    }

    #lokasi-cont iframe {
        width: 300px;
        height: 280px;
    }

    .mitra-cont {
        height: max-content;
    }

    .mitra-cont p {
        width: 20rem;
    }

    .grid {
        display: block;
    }

    .grid div {
        margin: 0;
    }

    .grid div p {
        font-size: 15px;
        width: 21rem;
    }

    .grid div::before {
        width: 21rem;
    }
}
