* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: linear-gradient(135deg, #bfd8f4, #eaf3fb, #8fbff6, #63a5f0);
  position: relative;
}

.section-title {
  text-align: center;
  text-decoration-line: underline;
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 3vw, 2.4rem);
}

/* Navbar */
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  transition: all 0.2s ease;
}

.scroled-header {
  background-color: #000;
  color: white;
  padding: 1rem 2.5rem;
}

header h1 {
  font-style: italic;
  font-size: 2.2rem;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
}

header ul li {
  transition: all 0.2s ease;
}

header ul li:hover {
  font-size: 1.6rem;
  border-bottom: solid;
}

/* Hero */
.hero-section {
  margin-top: 10rem;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 10rem;
  gap: 30px;
  position: relative;
  overflow: hidden;
}

.hero-text {
  font-size: clamp(1.5rem, 3vw, 2.8rem);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.hero-text button {
  border: none;
  padding: 15px 25px;
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  border: solid #000;
  transition: all 0.2s ease;
}

.hero-text button:hover {
  background-color: #fff;
  color: #000;
}

.hero-section img {
  width: clamp(15rem, 40%, 40rem);
  height: auto;
}

/* About */
.about-section {
  padding-top: 20rem;
  padding-inline: 20vw;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  text-align: start;
  text-indent: 1.5em;
}

/* Process */
.process-section {
  text-align: center;
  padding-top: 25rem;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
}

.slide {
  width: clamp(200px, 40vw, 350px);
  height: 25rem;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  background-color: #fff;
  border-radius: 15px;
  font-size: clamp(1rem, 2vw, 1.3rem);
  position: relative;
}

.slide h3 {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}

.nav-btn {
  background: none;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.dots {
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background: #333;
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }

  header h1 {
    font-size: 1.8rem;
  }

  .hero-section {
    margin-top: 6rem;
    padding-inline: 3rem;
  }

  .hero-section img {
    position: absolute;
    width: 500px;
    z-index: -1;
    opacity: 0.4;
    left: 11rem;
    bottom: -2rem;
  }

  .about-section {
    padding-inline: 10vw;
  }

  .slide {
    width: 280px;
    height: 22rem;
  }
}
